{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1 class="text-4xl font-bold text-emerald-950">Hello, {{app.user.firstname}}</h1>

<div>

</div>
{% endblock %}


