@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

body{
    background-color: white;
    max-width: 1280px;
    margin: 10rem auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

@layer utilities{
    .label-form{
        @apply block text-green-950 text-sm mt-6
    }

    .input-form{
        @apply mt-1 w-full border-b-2 border-neutral-300 p-2 focus:outline-none focus:ring-0 focus:border-green-300 focus:shadow-lg focus:shadow-green-200
    }
}
