<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# templates/lucky/number.html.twig #}
        
       
    </head>
    <body>
        {{ form (form)}}
        
    </body>
</html>

